---
import contentful from 'contentful';

import BaseLayout from '../../layouts/BaseLayout.astro';

const contentfulClient = contentful.createClient({
  space: process.env.CONTENTFUL_SPACE,
  accessToken: process.env.CONTENTFUL_ACCESSTOKEN,
});

const allPostsWithImagePromises = (await Astro.glob('../../posts/*.md'))
	.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
	.map(async post => {
		const res = await contentfulClient.getAsset(post.frontmatter.bookImageId);
		return {
			...post,
			imageUrl: res.fields.file.url,
			slug: post.file.split('/posts/')[1].split('.')[0],
		}
	});
const allPosts = await Promise.all(allPostsWithImagePromises)
---

<BaseLayout title='Blog'>
	<section class='py-12 flex flex-col gap-4 items-center'>
		<h2 class="text-4xl mb-8 font-semibold">Blog Posts</h2>

		<div class="container mx-auto flex flex-col justify-center gap-8 lg:grid lg:grid-cols-[300px_300px_300px] xl:grid-cols-[400px_400px_400px] lg:pt-3">
			{allPosts.map((post) => (
				<div class="recent-post rounded overflow-hidden lg:overflow-visible flex items-center lg:flex-col">
					<div class="lg:relative">
						<div class="w-[300] xl:w-[400] h-[192] overflow-hidden rounded-t">
							<img class="blur-sm opacity-70 object-cover w-full h-full hidden lg:block" src={`${post.imageUrl}?fit=scale&f=top&w=400&h=192&fm=avif&q=10`} alt="book-cover" />
						</div>

						<div class="hidden lg:pl-0 md:flex w-[170px] h-[240px] lg:w-auto lg:h-auto lg:justify-center lg:absolute lg:inset-x-0 lg:-top-3">
							<img class="w-[170px] h-[240px] overflow-hidden lg:shadow-md" src={`${post.imageUrl}?&w=170&h=240&fm=avif`} alt="book-cover" />
						</div>
					</div>

					<div class="card-body">
						<div class="flex flex-col">
							<div class="h-14 flex flex-col justify-end lg:mt-16 xl:mt-4">
								<h2 class="card-title line-clamp-2 text-ellipsis leading-7 ">{post.frontmatter.title}</h2>
							</div>
							<div class='flex flex-wrap gap-2 py-2 lg:hidden'>
								{post.frontmatter.genres?.map(genre => (
									<div class="badge badge-sm badge-outline">{genre}</div>
								))}
							</div>
						</div>

						<div class='hidden lg:flex lg:flex-wrap lg:gap-2 lg:mb-2'>
							{post.frontmatter.genres?.map(genre => (
								<div class="badge badge-sm badge-outline">{genre}</div>
							))}
						</div>

						<p class="line-clamp-3 xl:line-clamp-4 text-ellipsis">Enfant d'chienne de calvince de baptême de cibolac de cimonaque de mosus de Jésus de plâtre de cibouleau de sapristi de cibole de saint-ciarge. Sacristi de saintes fesses de mosus de câlique de charrue d'étole de crucifix d'enfant d'chienne de cimonaque.</p>

						<div class="card-actions justify-between items-center">
							<div class="rating rating-md rating-half">
								{Array.from({length: 5}).map((_, i) => (
									<>
										<input 
											type="radio" 
											name="rating" 
											class="bg-orange-400 mask mask-star-2 mask-half-1" 
											checked={3.5 === ((i * 2) + 1) * 0.5}
										/>
										<input 
											type="radio" 
											name="rating" 
											class="bg-orange-400 mask mask-star-2 mask-half-2"
											checked={3.5 === ((i * 2) + 2) * 0.5}
										/>
									</>
								))}
							</div>

							<a href={'/blog/' + post.slug} class="btn btn-sm btn-outline">Read</a>
						</div>
					</div>
				</div>
			))}
		</div>
	</section>
</BaseLayout>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}
</style>