---
import contentful from 'contentful';

import BaseLayout from '../../layouts/BaseLayout.astro';
import Image from '../../components/Image.astro';
import Rating from '../../components/Rating.tsx';

const contentfulClient = contentful.createClient({
  space: process.env.CONTENTFUL_SPACE,
  accessToken: process.env.CONTENTFUL_ACCESSTOKEN,
});

const allPostsWithImagePromises = (await Astro.glob('../../posts/*.md'))
	.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
	.map(async post => {
		try {
			const res = await contentfulClient.getAsset(post.frontmatter.bookImageId);
			return {
				...post,
				imageUrl: res.fields.file.url,
				slug: post.file.split('/posts/')[1].split('.')[0],
			}
		} catch {
			return {
				...post,
				imageUrl: '/images/placeholder.webp',
				slug: post.file.split('/posts/')[1].split('.')[0],
			}
		}
	});
const allPosts = await Promise.all(allPostsWithImagePromises)
---

<BaseLayout title='Blog'>
	<section class='py-12 flex flex-col gap-4 items-center'>
		<h2 class="text-4xl mb-8 font-semibold">Blog Posts</h2>

		<div class="container mx-auto flex flex-col justify-center gap-8 lg:grid lg:grid-cols-[300px_300px_300px] xl:grid-cols-[400px_400px_400px] lg:pt-3">
			{allPosts.map((post) => (
				<div class="recent-post rounded overflow-hidden lg:overflow-visible flex items-center lg:flex-col">
					<div class="lg:relative">
						<div class="hidden lg:block w-[300px] xl:w-[400px] h-[192px] overflow-hidden rounded-t">
							<Image 
								className="blur-sm opacity-70 object-cover w-full h-full hidden lg:block" 
								imageUrl={post.imageUrl} 
								fit="fill"
								f="top"
								w={400}
								h={192}
								q={10}
								alt="book-cover" 
							/>
						</div>

						<div class="flex pl-4 w-[120px] h-[170px] sm:w-[170px] sm:h-[240px] lg:w-auto lg:h-auto lg:justify-center lg:absolute lg:inset-x-0 lg:-top-3">
							<Image 
								className="w-[120px] h-[170px] sm:w-[170px] sm:h-[240px] overflow-hidden lg:shadow-md"
								imageUrl={post.imageUrl}
								w={170}
								h={240}
								alt="book-cover" 
							/>
						</div>
					</div>

					<div class="flex flex-col gap-2 p-4 lg:-mt-8 xl:mt-0 xl:p-8">
						<div class="flex flex-col">
							<div class="h-14 flex flex-col justify-end lg:mt-16 xl:mt-4">
								<h2 class="card-title line-clamp-2 text-ellipsis leading-7 ">
									<a class="sm:hidden link" href={'/blog/' + post.slug}>{post.frontmatter.title}</a>
									<span class="hidden sm:inline-block">{post.frontmatter.title}</span>
								</h2>
							</div>
							<div class='flex flex-wrap gap-2 py-2 lg:hidden'>
								{post.frontmatter.genres?.map(genre => (
									<div class="badge badge-sm badge-outline">{genre}</div>
								))}
							</div>
						</div>

						<div class='hidden lg:flex lg:flex-wrap lg:gap-2 lg:mb-2'>
							{post.frontmatter.genres?.map(genre => (
								<div class="badge badge-sm badge-outline">{genre}</div>
							))}
						</div>

						<p class="line-clamp-3 xl:line-clamp-4 text-ellipsis">Enfant d'chienne de calvince de baptême de cibolac de cimonaque de mosus de Jésus de plâtre de cibouleau de sapristi de cibole de saint-ciarge. Sacristi de saintes fesses de mosus de câlique de charrue d'étole de crucifix d'enfant d'chienne de cimonaque.</p>

						<div class="hidden sm:flex card-actions justify-between items-center">
							<div class="rating rating-md rating-half">
								<Rating rating={post.frontmatter.rating} name={post.frontmatter.bookImageId} />
							</div>

							<a href={'/blog/' + post.slug} class="btn btn-sm btn-outline">Read</a>
						</div>
					</div>
				</div>
			))}
		</div>
	</section>
</BaseLayout>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}
</style>