---
import contentful from 'contentful';

import BaseLayout from '../layouts/BaseLayout.astro';
import Image from '../components/Image.astro';
import Rating from '../components/Rating.tsx';

const contentfulClient = contentful.createClient({
  space: process.env.CONTENTFUL_SPACE,
  accessToken: process.env.CONTENTFUL_ACCESSTOKEN,
});

const allPosts = await Astro.glob('../posts/*.md');
const recentPostsWithImagePromises = allPosts
	.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
	.slice(0, 3)
	.map(async post => {
		try {
			const res = await contentfulClient.getAsset(post.frontmatter.bookImageId);
			return {
				...post,
				imageUrl: res.fields.file.url,
				slug: post.file.split('/posts/')[1].split('.')[0],
			}
		} catch {
			return {
				...post,
				imageUrl: '/images/placeholder.webp',
				slug: post.file.split('/posts/')[1].split('.')[0],
			}
		}
	});
const recentPosts = await Promise.all(recentPostsWithImagePromises)
---

<BaseLayout title='Home' containerClass="">
	<section>
		<div 
			class="relative flex bg-center bg-cover min-h-[50vh]" 
			style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);"
		>
			<div 
				class="absolute inset-0 bg-opacity-60" 
				style="background-color: hsl(var(--n) / var(--tw-bg-opacity));"
			></div>

			<div class='relative container mx-auto flex flex-col flex-1 justify-center items-start'>
				<div class='max-w-2xl p-2 px-4'>
					<h1 class="text-5xl font-bold">Hi, I'm Oscar!</h1>
					<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<a href="#subscribe" class="btn btn-primary">Subscribe</a>
				</div>
			</div>
		</div>
	</section>

	<section class='py-12 flex flex-col gap-4 items-center'>
		<h2 class="text-4xl mb-8 font-semibold">Recent Posts</h2>

		<div class="container mx-auto flex flex-col justify-center gap-8 lg:grid lg:grid-cols-[300px_300px_300px] xl:grid-cols-[400px_400px_400px] lg:pt-3">
			{recentPosts.map((post) => (
				<div class="recent-post rounded overflow-hidden lg:overflow-visible flex items-center lg:flex-col">
					<div class="lg:relative">
						<div class="w-[300px] xl:w-[400px] h-[192px] overflow-hidden rounded-t">
							<Image 
								className="blur-sm opacity-70 object-cover w-full h-full hidden lg:block" 
								imageUrl={post.imageUrl} 
								fit="fill"
								f="top"
								w={400}
								h={192}
								q={10}
								alt="book-cover" 
							/>
						</div>

						<div class="hidden pl-4 md:flex w-[170px] h-[240px] lg:w-auto lg:h-auto lg:justify-center lg:absolute lg:inset-x-0 lg:-top-3">
							<Image 
								className="w-[170px] h-[240px] overflow-hidden lg:shadow-md"
								imageUrl={post.imageUrl}
								w={170}
								h={240}
								alt="book-cover" 
							/>
						</div>
					</div>

					<div class="card-body">
						<div class="flex flex-col">
							<div class="h-14 flex flex-col justify-end lg:mt-16 xl:mt-4">
								<h2 class="card-title line-clamp-2 text-ellipsis leading-7 ">{post.frontmatter.title}</h2>
							</div>
							<div class='flex flex-wrap gap-2 py-2 lg:hidden'>
								{post.frontmatter.genres?.map(genre => (
									<div class="badge badge-sm badge-outline">{genre}</div>
								))}
							</div>
						</div>

						<div class='hidden lg:flex lg:flex-wrap lg:gap-2 lg:mb-2'>
							{post.frontmatter.genres?.map(genre => (
								<div class="badge badge-sm badge-outline">{genre}</div>
							))}
						</div>

						<p class="line-clamp-3 xl:line-clamp-4 text-ellipsis">Enfant d'chienne de calvince de baptême de cibolac de cimonaque de mosus de Jésus de plâtre de cibouleau de sapristi de cibole de saint-ciarge. Sacristi de saintes fesses de mosus de câlique de charrue d'étole de crucifix d'enfant d'chienne de cimonaque.</p>

						<div class="card-actions justify-between items-center">
							<div class="rating rating-md rating-half">
								<Rating rating={post.frontmatter.rating} name={post.frontmatter.bookImageId} />
							</div>

							<a href={'/blog/' + post.slug} class="btn btn-sm btn-outline">Read</a>
						</div>
					</div>
				</div>
			))}
		</div>

		<a href="/blog" class='btn btn-outline'>See More Posts</a>
	</section>

	<section class="relative bg-cover" style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);">
		<div 
			class="absolute inset-0 bg-opacity-60" 
			style="background-color: hsl(var(--n) / var(--tw-bg-opacity));"
		></div>

		<div class="relative container py-12 px-6 lg:px-16 mx-auto flex flex-col gap-8 lg:grid lg:grid-cols-2 lg:grid-rows-1">
			<div class="flex justify-center items-center">
				<h2 class="text-center font-semibold lg:text-left text-4xl md:text-5xl lg:text-6xl max-w-lg">Get all the latest news and info sent to your inbox.</h2>
			</div>

			<div class="signup-form p-12 flex flex-col items-center justify-center">
				<form id="subscribe" class="flex-shrink-0 w-full max-w-sm">
					<h3 class="text-4xl text-center pb-6 font-bold">Newsletter Sign Up</h3>

					<div class="form-control">
						<label class="label">
							<span class="label-text">Your Name</span>
						</label>
						<input type="text" placeholder="Name" class="input input-bordered">
					</div>

					<div class="form-control">
						<label class="label">
							<span class="label-text">Email</span>
						</label>
						<input type="text" placeholder="Email" class="input input-bordered">
					</div>
					
					<div class="form-control mt-6">
						<button type='submit' class="btn btn-primary">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</BaseLayout>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}

.signup-form {
  background-color: hsl(var(--b2));
}
</style>