---
import BaseLayout from '../../layouts/BaseLayout.astro';
import books from './data.json';

const sections = books
  .sort((lhs, rhs) => lhs.title.localeCompare(rhs.title))
  .reduce((map, book) => {
    if (map[book.section]) {
      map[book.section].push(book);
    } else {
      map[book.section] = [book]
    }

    return map;
  }, {})
const sortedSectionNames = Object.keys(sections).sort((lhs, rhs) => lhs.localeCompare(rhs));
---

<BaseLayout 
  title="Book Recommendations" 
  containerClass="container mx-auto p-2 px-4 grid gap-4 grid-rows-[auto_1fr] grid-cols-1 lg:grid-rows-1 lg:grid-cols-[1fr_auto]"
>
  <div class="row-start-2 lg:row-start-auto lg:col-start-1">
    {sortedSectionNames.map((name, i) => (
      <section>
        <div id={name} class="relative">
          <div class="absolute inset-0 flex items-center">
            <hr class="w-full" style="color: var(--color-text);" />
          </div>
          <h3 class="relative w-full text-center text-2xl">
            <span class="px-2" style="background-color: hsl(var(--b2));">{name}</span>  
          </h3>
        </div>

        <ol class="my-4">
          {sections[name].map((book, i) => (
            <li>
              {i+1}. <a class="link" href={book.url}>{book.title}</a>
            </li>
          ))}
        </ol>
      </section>
    ))}

    <!-- <div class="relative mt-16 p-3 border border-yellow-600 rounded-lg">
      <div class="absolute inset-0 bg-yellow-600 opacity-5"></div>
      <span class="absolute -top-3 bg-theme-2 px-2 text-yellow-600 rounded-b-md">Disclaimer</span>
      <p>I am a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</p>
    </div> -->
  </div>

  <div>
    <div class="sticky top-20 prose lg:col-start-2">
      <nav>
        <ul class="list-none">
          {sortedSectionNames.map(name => (
            <li>
              <a href={`#${name}`}>{name}</a>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </div>
</BaseLayout>