---
import contentful from 'contentful';

import Image from '../components/Image.astro';

const { content } = Astro.props;

const contentfulClient = contentful.createClient({
  space: process.env.CONTENTFUL_SPACE,
  accessToken: process.env.CONTENTFUL_ACCESSTOKEN,
});
const response = await contentfulClient.getAsset(content.bookImageId);

const allPosts = await Astro.glob('../posts/*.md');
const recentPostsWithImagePromises = allPosts.sort((a, b) => 
		new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
    .slice(0, 3).map(async post => {
      const res = await contentfulClient.getAsset(post.frontmatter.bookImageId);
      return {
        ...post,
        imageUrl: res.fields.file.url,
        slug: post.file.split('/posts/')[1].split('.')[0],
      }
    });
const recentPosts = await Promise.all(recentPostsWithImagePromises)
---

<section class="flex flex-col xl:grid grid-cols-[auto_1fr] container mx-auto">
  <article class="mx-auto xl:mx-0 px-6 prose md:prose-lg lg:prose-xl">
      <div class="flex flex-col items-center">
        <div class="py-6 mx-auto flex flex-col items-center prose md:prose-lg lg:prose-xl ">
          <h1 class="!mb-0 text-center">{content.title}</h1>
          <Image 
            className="no-prose h-80 w-80 overflow-hidden object-scale-down"
            imageUrl={response.fields.file.url}
            w={320}
            h={320}
            alt={`Book Cover`}
          />
        </div>

        <div class="flex gap-4">
          <a 
            href={content.bookLinkUs}
            target="_blank" 
            rel="noopener noreferrer"
          >Amazon US</a> | 
          <a 
            href={content.bookLinkJp}
            target="_blank" 
            rel="noopener noreferrer"
          >Amazon JP</a>
        </div>

        <div class="flex items-center gap-2">
          <span>My Rating:</span>
          <div class="rating rating-md rating-half">
            {Array.from({length: 5}).map((_, i) => (
              <>
                <input 
                  type="radio" 
                  name="rating" 
                  class="bg-orange-400 mask mask-star-2 mask-half-1" 
                  checked={content.rating === ((i * 2) + 1) * 0.5}
                />
                <input 
                  type="radio" 
                  name="rating" 
                  class="bg-orange-400 mask mask-star-2 mask-half-2"
                  checked={content.rating === ((i * 2) + 2) * 0.5}
                />
              </>
            ))}
          </div>
        </div>
    </div>

    <slot />
  </article>

  <hr class="mt-14 mb-2 mx-6 xl:hidden h-[0.5px] opacity-10" />

  <div class="prose prose-sm lg:prose-md mx-auto flex lg:flex-col flex-1 p-6">
    <div class="sticky top-16">
      <h3 class="!m-0 !mb-4 !pt-4">Recent Posts</h3>
      <ul class="!p-0 flex flex-col gap-2">
        {recentPosts.map((post) => (
          <li class="prose-sm recent-post rounded overflow-hidden flex items-center gap-4 p-4">
            <div class="flex-shrink-0 hidden md:flex w-[125px] h-[180px]">
              <Image 
                className="!m-0 w-full h-full overflow-hidden" 
                imageUrl={post.imageUrl}
                w={125} 
                h={180}
                alt="book-cover" 
              />
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex flex-col">
                <h2 class="!mt-0"><a class="link link-hover line-clamp-1 text-ellipsis" href={'/blog/' + post.slug}>{post.frontmatter.title}</a></h2>

                <div class='flex flex-wrap gap-2'>
                  {post.frontmatter.genres?.map(genre => (
                    <div class="badge badge-sm badge-outline">{genre}</div>
                  ))}
                </div>
              </div>

              <p class="!m-0 !line-clamp-3 !text-ellipsis">Enfant d'chienne de calvince de baptême de cibolac de cimonaque de mosus de Jésus de plâtre de cibouleau de sapristi de cibole de saint-ciarge.</p>

              <div class="card-actions justify-between items-center">
							<div class="rating rating-md rating-half">
								{Array.from({length: 5}).map((_, i) => (
									<>
										<input 
											type="radio" 
											name="rating" 
											class="bg-orange-400 mask mask-star-2 mask-half-1" 
											checked={3.5 === ((i * 2) + 1) * 0.5}
										/>
										<input 
											type="radio" 
											name="rating" 
											class="bg-orange-400 mask mask-star-2 mask-half-2"
											checked={3.5 === ((i * 2) + 2) * 0.5}
										/>
									</>
								))}
							</div>

							<a href={'/blog/' + post.slug} class="btn btn-sm btn-outline">Read</a>
						</div>
            </div>
          </li>
        ))}
      </ul>
    </div>
  </div>
</section>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}
</style>